<!-- Default form login -->
<div class="container form-page-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center panel-hedaing-tourist ">
      Editing Tourist Place
    </div>


    <%= render 'form', tourist_place: @tourist_place %>
    <div class="panel-footer"> 
      <div class="text-center mt-4 actions">
        <%= link_to 'Show', @tourist_place %> 
      </div>
    </div>    
  </div>
</div>