
<div class="container form-page-container">
  <div class="panel panel-default">
    <div class="panel-heading text-center panel-hedaing-tourist ">
      New Tourist Place
    </div>

    <%= render 'form', tourist_place: @tourist_place %>
     
  </div>  
</div>  