<!-- Navigation -->
<div id="dashboard-nav" class="dashboard-nav">  
  <ul>
    <li class="active"><a href="dashboard.html"><i class="fa fa-cogs"></i> Dashboard</a></li>
    <li><a id="MLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-list"></i> My Listings</a>
      <ul class="dropdown-menu" aria-labelledby="MLabel">
      <li><%= link_to "Active",dashboards_listings_path %></li>
        <li><a href="dashboard-my-listings.html">Pending <span class="nav-tag yellow">1</span></a></li>
        <li><a href="dashboard-my-listings.html">Expired <span class="nav-tag red">2</span></a></li>
      </ul> 
    </li>
    <li><a href="dashboard-reviews.html"><i class="fa fa-star-o"></i> Reviews</a></li>
    <li><a href="dashboard-bookmarks.html"><i class="fa fa-bookmark-o"></i> Bookmarks</a></li>
    <% if user_signed_in? %>
    <li>
     <%= link_to  new_dashboard_listing_path do %>
      <i class= "fa fa-plus"></i>Add Listing
      <%end%>
    </li>  
    <% else %>
    <li>
      <button class="btn-clear model-button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" ></i>Add Listing</button>
    </li>
    <% end %>
    
    <li><a href="dashboard-my-profile.html"><i class="fa fa-user-o"></i> My Profile</a></li>
    <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-power-off"></i> Logout
     <% end %></li>
  </ul> 
</div>
  <!-- Navigation / End -->
<!-- Navigation / End -->
<style type="text/css">
  .btn-clear:active,
  .btn-clear:focus {
    outline-style: none !important;
    outline-color: transparent;
  }
  .btn-secondary {
    background-color: #a6c!important;
    color: #fff!important;
    box-shadow: 2px 2px 2px #eee;
  }

  .model-button
  {
   background-color: transparent;
   border: none;
   padding: 7%; 
   margin-left: 2%
  }
</style>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>You must sign in first.....</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
