<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @touristplace_category.name %>
</p>

<%= link_to 'Edit', edit_touristplace_category_path(@touristplace_category) %> |
<%= link_to 'Back', touristplace_categories_path %>
