<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing_type.name %>
</p>

<%= link_to 'Edit', edit_listing_type_path(@listing_type) %> |
<%= link_to 'Back', listing_types_path %>
